$small   = 480px
$medium  = 640px
$large   = 960px
$xlarge  = 1440px
$xxlarge = 1920px

$small-up   = '(min-width: ' + ($small + 1px)   + ')'
$medium-up  = '(min-width: ' + ($medium + 1px)  + ')'
$large-up   = '(min-width: ' + ($large + 1px)   + ')'
$xlarge-up  = '(min-width: ' + ($xlarge + 1px)  + ')'
$xxlarge-up = '(min-width: ' + ($xxlarge + 1px) + ')'

retina = 'only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)'
non-retina = 'only screen and (-webkit-max-device-pixel-ratio: 1.299999999), only screen and (-o-max-device-pixel-ratio: 12999999999/10000000000), only screen and (max-resolution: 119dpi)'
