$small   = 480px
$medium  = 640px
$large   = 960px
$xlarge  = 1440px
$xxlarge = 1920px

$small-up   = '(min-width: ' + ($small + 1px)   + ')'
$medium-up  = '(min-width: ' + ($medium + 1px)  + ')'
$large-up   = '(min-width: ' + ($large + 1px)   + ')'
$xlarge-up  = '(min-width: ' + ($xlarge + 1px)  + ')'
$xxlarge-up = '(min-width: ' + ($xxlarge + 1px) + ')'
