/* Coolors Exported Palette - coolors.co/5bc0eb-fde74c-9bc53d-e55934-fa7921 */

$red    = #e55934
$orange = #fa7921
$yellow = #fde74c
$green  = #9bc53d
$blue   = #5bc0eb

/* Coolors Exported Palette - coolors.co/93b5c6-ddedaa-f0cf65-d7816a-bd4f6c */

$muted-red    = #bd4f6c
$muted-orange = #d7816a
$muted-yellow = #f0cf65
$muted-green  = #ddedaa
$muted-blue   = #93b5c6


$white     = #ffffff
$ghost     = #FAFAFA
$silver    = #EFEFEF
$gainsboro = #DDDDDD
$iron      = #CCCCCC
$base      = #AAAAAA
$jumbo     = #888888
$charcoal  = #555555
$jet       = #222222
$black     = #000000
