@require 'breakpoints'
@require 'type'

html, body
	width 100%
	height 100%

body
	font-size 1em
	line-height 1.4

	@media $xlarge-up
		font-size 1.125em

	@media $xxlarge-up
		font-size 1.25em

.container
	background-color $jet
	width 100%
	height 100%

.main
	margin 0 auto
	max-width 60em

p
	margin 1em 0

ul
	list-style disc inside none
