@require 'breakpoints'
@require 'type'

html, body, body > *:first-child
	width 100%
	height 100%
	background-color $silver

body
	font-size 1em
	line-height 1.4

	@media $small-up
		font-size 1.25em

	@media $xlarge-up
		font-size 1.375em

	@media $xxlarge-up
		font-size 1.5em

.main
	background-color $ghost

p
	margin 1em 0

ul
	list-style disc inside none
