/* Dead Simple Grid (c) 2015 Vladimir Agafonkin */

@require 'spacing'

.row .row
	margin 0 -$margin
.col
	padding 0  $margin

.row:before, .row:after
	content ''
	display table

.row:after
	clear both

@media only screen
	.col
		float left
		width 100%
		box-sizing border-box
