@require 'colors'
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')

body
	font-family 'Open Sans',Tahoma,Verdana,Segoe,sans-serif
	color $jet
	background-color $ghost

pre, code
	font-family 'Source Code Pro','Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace
	background-color $silver

a, a:link, a:visited
	text-decoration none
	color $blue

a:hover, a:active
	text-decoration underline

h1
	font-size 2em

h2
	font-size 1.5em

h3
	font-size 1.25em

h4
	font-size 1.125em

small()
	font-size 0.75em
